# Diretórios baixados pelo Terraform
**/.terraform/*

# Arquivos de estado
*.tfstate
*.tfstate.*

# Planos salvos
*.tfplan

# Logs de falha
crash.log
crash.*.log

# Recurso gerado pelo primeiro laboratório
arquivo-*.txt
servidor-*.txt

# Arquivos com valores locais ou sensíveis
*.tfvars

# Permitir arquivos de exemplo
!*.tfvars.example
